
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --very-dark-blue: rgb(2, 2, 63);
    --white: white;
    --yellow:yellow;
    --golden-yellow: gold;
}

body{
    background-color:var(--very-dark-blue);
    text-align: center;
    color:var(--white);
}

h1{
    margin: 15px 0 20px;
}

.btn{
    cursor: pointer;
    width:100px;
    margin: 10px;
    color: var(--very-dark-blue);
    background-color: var(--golden-yellow);
    background-image: linear-gradient(#fecc4c, #ffac33);
    border-color: var(--golden-yellow);
    border-width:3px;
}

.btn:hover{
    background-image: linear-gradient(#fecc4c, #ffac33);
}

.rules-container{
    padding: 10px 0;
    margin: auto;
    border-radius:15px;
    border: 5px solid var(--yellow);
    background-color: var(--white);
    color:var(--very-dark-blue);
}

.rules-container ul{
    list-style-type:disc;
}

.rules-container p{
 margin: 7px 0;
}

@media(min-width: 760px){
    .rules-container{
        width:60%;
    }
}

.score-container{
    display: flex;
    justify-content:space-around;
    margin: 30px 0;
    font-size: 1.2rem;
}

.score{
     font-weight: 500;
}

.results-container{
    font-size: 1.3rem;
    margin: 15px 0;
    color: red;
}


#winner-mag{
    margin-top: 25px;
}

#reset-game-btn{
    display: none;
    margin: 20px auto;
}

.celebrate {
    color: green;
    font-size: 2em;
    font-weight: bold;
    animation: flash 1s infinite;
}
@keyframes flash {
    0% { opacity: 0.1; }
    50% { opacity: 0.4; }
    100% { opacity: 1.9; }
}